<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Swathi Enterprises</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            
            const path = window.location.pathname;
            
           
            $(".itemsfooter").each(function() {
                const linkPath = $(this).find("a").attr("href");
                
                if (linkPath === path) {
                    $(this).addClass("activatefooter");
                   
                }
            });
        });
        function goToHomePage()
        {
            window.location.href='/';
        }
        
       
       
    </script>
</head>
<body >

    <div class="wrapper"></div>
    <div class="contains">
   <div class="footer">
    <div  id="nf" onclick="goToHomePage()">
      
       
        <h1>SWATHI ENTERPRISES</h1>
   
</div>
        <div class="containerfooter">
            <div class="navbarfooter">
            <div class="itemsfooter"><a href="/">Home</a></div>
            <div class="itemsfooter"><a href="/about">About Us</a></div>
            <div class="itemsfooter"><a href="/products">Products</a></div>
            <div class="itemsfooter"><a href="/contact">Contact Us</a></div>
                
            </div>
            
        </div>
        <p style="color: #10375f;">0000000000000000000000000000</p>
        </div>
        <p>© 2024 This website is owned and maintained by Swathi Enterprises.</p>
    </div>

    
</body>
</html>