<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swathi Enterprises</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <section class="ContactUspage">
        <h1 class="head">Contact Us</h1>
        <div class="main_container">
            <div class="infos">
                <div class="address">
                    <i class="bi bi-pin-map-fill"></i>
                    <p>No:122, KVT Smart City Phase-1,<br>  Opposite to Sengalamman kovil,<br> Sembulivaram-600067.</p>
                </div>
                <div class="phone">
                    <i class="bi bi-telephone"></i>
                    <p>+91 9444079525</p>
                </div>
                <div class="whatsapp">
                    <i class="bi bi-whatsapp"></i>
                    <p>+91 9444079525</p>
                </div>
                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <p>swathienterpriseschennai@gmail.com</p>
                </div>
            </div>
            <div class="contactUsForm">
                <form method="post" action="/contact/submit">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter Your Name:" required>
                    <label for="number">Number:</label>
                    <input type="text" id="number" name="number" placeholder="Enter Your Number" required>
                    <label for="email">Email id:</label>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email id:" required>
                    <label for="comments">Comment:</label>
                    <textarea id="comments" name="comments" placeholder="Comments" required></textarea>
                    <div class="divbtn">
                    <input type="submit" value="Let's Talk">
                    <input type="button" value="Map" onclick="redirectToMap() " >
                </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        function redirectToMap() {
            const mapUrl = "https://www.google.com/maps/place/KVT+Smart+City/@13.2289113,80.165432,18.21z/data=!4m6!3m5!1s0x3a527d91319f18d5:0x4f383a87d86170e3!8m2!3d13.2282693!4d80.1656622!16s%2Fg%2F11h0ms4hxx?entry=ttu";
            window.open(mapUrl,'_blank');
        }
    </script>
</body>
</html>
