<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swathi Enterprises</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <section class="OurProducts_product" >
        <h1 class="head">Our Products</h1>
       
        <div class="container-cards">
            <div class="row">
                <div class="item prod1">
                    <img src="/images/gi_stitching_wire_home.jpg" alt="GI Wires">
                    <h2>GI Wires</h2>
                    <div class="btn-products">
                        <a href="/products/view/2" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                       
                    </div>
                </div>

                <div class="item prod2">
                    <img src="/images/air_bubble_roll_home.jpg" alt="Air Bubble Roll">
                    <h2>Air Bubble Roll</h2>
                    <div class="btn-products">
                        <a href="/products/view/7" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>
                
                <div class="item prod3">
                    <img src="/images/box_strapping_home.jpg" alt="Box Strapping roll">
                    <h2>Box Strapping Roll</h2>
                    <div class="btn-products">
                        <a href="/products/view/8" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="item prod4">
                    <img src="/images/corrugation_industry_spares.jpg" alt="Spare Parts">
                    <h2>Spare Parts</h2>
                    <div class="btn-products">
                        <a href="/products/view/12" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                       
                    </div>
                </div>
                
                <div class="item prod5">
                    <img src="/images/bailing_wire_home.jpg" alt="Bailing Wire">
                    <h2>Bailing Wire</h2>
                    <div class="btn-products">
                        <a href="/products/view/6" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                       
                    </div>
                </div>
                <div class="item prod6">
                    <img src="/images/adhesive bg.jpg" alt="Royal Col Adhesive">
                    <h2>Royal Col Adhesive</h2>
                    <div class="btn-products">
                        <a href="/products/view/1" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                       
                    </div>
                    </div>
                
                
            </div>
            <div class="row">
                
                <div class="item prod7">
                    <img src="/images/copper_stitching_wire_1.jpg" alt="Brass and Copper Wire">
                    <h2>Brass and Copper Wire</h2>
                    <div class="btn-products">
                        <a href="/products/view/10" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>

                <div class="item prod8">
                    <img src="/images/Plastic.jpeg" alt="Plastic Twine">
                    <h2>Plastic Twine</h2>
                    <div class="btn-products">
                        <a href="/products/view/3" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>
                
                <div class="item prod9">
                    <img src="/images/bopp_packing_tape_home.jpg" alt="BOPP Packing Tapes">
                    <h2>BOPP Packing Tapes</h2>
                    <div class="btn-products">
                        <a href="/products/view/4" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="item prod10">
                    <img src="/images/book_binding_cloth_home.jpeg" alt="Book Binding Cloth">
                    <h2>Book Binding Cloth</h2>
                    <div class="btn-products">
                        <a href="/products/view/5" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                       
                    </div>
                </div>

                <div class="item prod11">
                    <img src="/images/arobond-555_2.webp" alt="Arobond 555">
                    <h2>Arobond 555</h2>
                    <div class="btn-products">
                        <a href="/products/view/9" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>

                <div class="item prod12">
                    <img src="/images/Brass adapter 2.jpeg" alt="Brass Adapter">
                    <h2>Brass Adapter</h2>
                    <div class="btn-products">
                        <a href="/products/view/11" class="btn view-product">
                            <i class="fas fa-eye"></i> View Product
                        </a>
                        
                    </div>
                </div>
                
               
                
            </div>
        </div>
    </section>

    

    <%- include("partials/footer.ejs") %>
    
   
</body>
</html>